<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>823475181285-r91epiv349688bq40cnb5ldhe6lhd97v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.823475181285-r91epiv349688bq40cnb5ldhe6lhd97v</string>
	<key>API_KEY</key>
	<string>AIzaSyCST9avQ11jhN7K2b1ORhYeh7Ep3WPnStE</string>
	<key>GCM_SENDER_ID</key>
	<string>823475181285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.forumApp</string>
	<key>PROJECT_ID</key>
	<string>forum-app-g5</string>
	<key>STORAGE_BUCKET</key>
	<string>forum-app-g5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823475181285:ios:d36c06969488eb42e7260c</string>
</dict>
</plist>